body {
    height: 400px;
    width: 450px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 300px 100px;
    place-items: center;
    margin: 0;
    background-color: blue;
}

/* #circle{
    position: absolute;
} */

#svg-distance-line-cont {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}

#planet0 {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    offset-path: path('M153 20.89c0-45.88-74.95 0-74.95 0S.5,66.76.5 20.89s77.54 0 77.54 0S153 66.76 153 20.89Z');
    offset-distance: 0%;
    z-index: 1;
    /* box-shadow: black -3px -3px 3px; */
}

#planet1 {
    position: absolute;
    top: 150px;
    left: 150px;
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
    offset-path: path('M153 20.89c0-45.88-74.95 0-74.95 0S.5,66.76.5 20.89s77.54 0 77.54 0S153 66.76 153 20.89Z');
    offset-distance: 0%;
    z-index: 1;
    /* box-shadow: black -3px -3px 5px; */
}

#planet2 {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    offset-path: path('M153 20.89c0-45.88-74.95 0-74.95 0S.5,66.76.5 20.89s77.54 0 77.54 0S153 66.76 153 20.89Z');
    offset-distance: 0%;
    z-index: 1;
    /* box-shadow: black -3px -3px 10px; */
}

#sketch-holder {
    position: absolute !important;
    top: 0%;
    left: 0%;
    width: 450px;
    height: 300px;
    z-index: 0;
}

#spacecraft {
    position: absolute !important;
    width: 30px;
    height: 30px;
    transform: rotate(-90deg);
    z-index: 1;
    /* background-color: aqua; */
}

#spacecraft-icon {
    position: absolute !important;
    width: 30px;
    height: 30px;
}

/* @keyframes planetA-Anim {
    from {
      offset-distance: 0%;
    }
    to {
      offset-distance: 100%;
    }
  } */

#svgElem {
    position: absolute;
    top: 50px;
    left: 50px;
    overflow: visible;
    width: 300px;
    height:300px;
    z-index: 1;
}

#controls {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 100px;
    background-color: gray;
    z-index: 1;
}

#defaultCanvas0 {
    position: absolute;
    top: 0%;
}