body {
    height: 500px;
    width: 500px;
    overflow: hidden;
    display: grid;
    place-items: center;
    margin: 0;
    background-color: blue;
}

/* #circle{
    position: absolute;
} */

#planetA {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    offset-path: path('M153 20.89c0-45.88-74.95 0-74.95 0S.5,66.76.5 20.89s77.54 0 77.54 0S153 66.76 153 20.89Z');
    offset-distance: 0%;
}

/* @keyframes planetA-Anim {
    from {
      offset-distance: 0%;
    }
    to {
      offset-distance: 100%;
    }
  } */

#svgElem {
    position: absolute;
    top: 50px;
    left: 50px;
    overflow: visible;
    width: 500px;
    height:500px;
}